@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

$red: #ff0000;
$orange: #ff7400;
$borderWidth: 3px;
$topBlank: 80px;
$leftBlank: 20px;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4.3fr;
  gap: $borderWidth;
  margin: 15px;
  background-color: #000;
  border: $borderWidth solid #000;
}
.top__title {
  position: absolute;
  left: $leftBlank;
  top: 15px;
}
.bottom__title {
  position: absolute;
  left: $leftBlank;
  bottom: 15px;
}
header {
  padding-bottom: $topBlank;
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  .header__nav {
    p {
      padding: $topBlank $leftBlank 20px;
      font-size: 1.7em;
    }
    .header__nav__list {
      li {
        font-size: 0.9em;
        text-transform: uppercase;
        padding: 7px $leftBlank;
        border-bottom: 1px solid #000;
        &:first-child {
          border-top: 1px solid #000;
          background-color: #eee;
        }
      }
    }
  }
  .header__info {
    align-self: self-end;
    padding: 0 $leftBlank;
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      p {
        &.header__info__head {
          font-weight: 500;
        }
      }
    }
  }
}
main {
  position: relative;
  display: grid;
  gap: $borderWidth;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 1fr);
  .main__text {
    padding: $topBlank $leftBlank;
    h1 {
      font-size: 2.8em;
      font-weight: 400;
      line-height: 1.3;
    }
    p {
      margin-top: 20px;
      line-height: 1.4;
    }
  }
  .main__service {
    display: flex;
    position: relative;
    padding: 0 $leftBlank 20px;
    h2 {
      font-size: 2.2em;
      align-self: flex-end;
    }
  }
  section {
    background-color: #fff;
  }
  section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main__text {
    grid-column: span 3;
    grid-row: span 9;
  }
  .main__img:nth-of-type(2) {
    grid-column: 4 / span 3;
    grid-row: span 9;
  }
  .main__img:nth-of-type(3) {
    grid-column: 7 / span 3;
    grid-row: span 5;
  }
  .main__img:nth-of-type(4) {
    grid-column: 7 / span 2;
    grid-row: 6 / span 2;
  }
  .main__img:nth-of-type(5) {
    grid-column: 9;
    grid-row: 6;
  }
  .main__img:nth-of-type(6) {
    grid-column: 9;
    grid-row: 7;
  }
  .main__img:nth-of-type(7) {
    grid-column: 7;
    grid-row: 8 / span 2;
  }
  .main__img:nth-of-type(8) {
    grid-column: 8 / span 2;
    grid-row: 8 / span 2;
  }
  .main__service {
    grid-column: span 3;
    grid-row: 10 / span 2;
  }
  .main__img:nth-of-type(10) {
    grid-column: 4;
    grid-row: 10 / span 2;
  }
  .main__img:nth-of-type(11) {
    grid-column: 5;
    grid-row: 10;
  }
  .main__img:nth-of-type(12) {
    grid-column: 5;
    grid-row: 11;
  }
  .main__img:nth-of-type(13) {
    grid-column: 6 / span 4;
    grid-row: 10 / span 2;
  }
}
