@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.poster {
  width: 100%;
  max-width: 700px;
  height: 98%;
  background-color: #dde0d5;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-weight: 700;
  padding: 1vw;
  box-sizing: border-box;
}
.header {
  background-color: #000;
  color: #dde0d5;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1vw;
}
.header__items {
  display: flex;
  gap: 1vw;
}
.header__item {
}
.red-box {
  background: #f04018;
  color: #000;
}
.red-box:nth-of-type(1) {
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
  display: flex;
  align-items: end;
}
.red-box:nth-of-type(1) span,
.red-box:nth-of-type(3) span {
  font-size: 12em;
  letter-spacing: -0.05em;
}
.red-box:nth-of-type(2) {
  grid-row: 2 / span 4;
}
.red-box:nth-of-type(3) {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;

  display: flex;
  flex-direction: column;
  gap: 1em;
}
.red-box:nth-of-type(3) span:nth-child(2) {
  color: #dde0d5;
  font-size: 2em;
  padding: 1vw;
}
