@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
div {
  padding: 0.5em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
}
.black {
  background-color: #000;
  color: #fff;
  p {
    font-size: 1.2em;
    line-height: 1;
    span {
      display: inline-block;
      transform: rotate(180deg);
    }
    i {
      display: inline-block;
      padding-left: 0.4em;
    }
  }
}
.purple {
  background-color: #6c01ff;
  grid-column: 2;
}
.red {
  background-color: #ff1502;
  grid-row: 2 / span 2;
}
.white {
}
.yellow {
  background-color: #ffc904;
  grid-column: 2;
  grid-row: 3;
}
.list {
  grid-column: 3;
  grid-row: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5em 0.8em;
  ul {
    font-size: 0.7em;
    line-height: 1.25;
    li {
      &:first-child {
        font-size: 0.7em;
        margin-bottom: 15px;
      }
      &.hightlight {
        display: inline-block;
        background-color: #6c01ff;
        padding: 0 5px;
      }
    }
  }
}
