@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

$bg: #dde1d3;
$blue: #00a0c8;
$red: #d03022;
$burnRed: #573533;
$lineWidth: 90px;

body {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster {
  box-sizing: border-box;
  width: 37%;
  height: 100%;
  display: grid;
  background-color: $bg;
  padding: 20px;
  grid-template-columns: $lineWidth 1fr $lineWidth;
  grid-template-rows: $lineWidth 1.2fr $lineWidth 1fr $lineWidth 1.2fr $lineWidth;

  .top-left,
  .top-right,
  .top-top,
  .center-bottom {
    background-color: $blue;
  }
  .center-top,
  .bottom-left,
  .bottom-right,
  .bottom-bottom {
    background-color: $red;
  }
  .center-left,
  .center-right {
    background-color: $burnRed;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    grid-row: span 2;
  }
  .center-left,
  .center-right {
    grid-row: span 3;
  }
  h1 {
    font-size: 5rem;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
