@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$red: #ff0000;
$orange: #ff7400;
$borderWidth: 2px;

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: 1.6fr 65px 1fr;
  height: 100vh;
}
main {
  padding: 0 10px 10px;
  background-color: $orange;
  display: grid;
  grid-template-rows: 10px repeat(6, 1fr);
  section {
    cursor: default;
    color: $red;
    font-weight: 500;
    border: $borderWidth solid $red;
    border-top: 0;
    display: grid;
    grid-template-columns: 50px 1fr 280px;
    position: relative;
    & > :not(:first-child) {
      border-left: $borderWidth solid $red;
    }
    .main__category {
      writing-mode: sideways-lr;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      letter-spacing: -1.5px;
    }
    .main__title {
      padding: 5px 20px 15px;
      font-size: 6em;
      display: flex;
      align-items: center;
      letter-spacing: -10px;
      line-height: 1;
    }
    .main__info {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      .main__info__detail,
      .main__info__period {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .main__info__period {
        border-top: $borderWidth solid $red;
        span {
          display: inline-block;
          background-color: $red;
          color: $orange;
          padding: 10px;
          border-radius: 30px;
          width: 80%;
        }
      }
    }
    &:hover {
      border-color: #fff;
      color: #fff;
      & > :not(:first-child) {
        border-left-color: #fff;
      }
      .main__info__period {
        border-color: #fff;
        span {
          background-color: #fff;
        }
      }
      &:before {
        content: "";
        height: $borderWidth;
        background-color: #fff;
        position: absolute;
        top: -$borderWidth;
        left: -$borderWidth;
        width: calc(100% + $borderWidth * 2);
      }
    }
  }
}
.bar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  span {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0.5em 0;
    letter-spacing: -2px;
    &:first-child {
      background-color: #ff00ff;
      writing-mode: vertical-rl;
    }
    &:last-child {
      background-color: #160bff;
      writing-mode: sideways-lr;
    }
  }
}
.article {
  padding: 15px;
  background-color: $red;
  .article__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.75em;
    font-weight: 600;
    letter-spacing: -3px;
    span {
      display: flex;
      align-items: center;
      i {
        display: inline-block;
        width: 22px;height: 22px;border: 2px solid #000;
        border-radius: 50%;
        margin-right: 5px;
      }
      &:last-child i{
        background-color: #000;
      }
    }
  }
  .article__list {
    ul {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      li {
        padding: 10px 5px 40px;
        border-top: $borderWidth solid #000;
        font-weight: 500;
        font-size: 1.2em;
        letter-spacing: -2px;
        .article__title {
          font-weight: 600;
          font-size: 1.3em;
        }
        .article__detail {
        }
      }
    }
  }
}
